<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>

    <title>Orion BNB</title>
  </head>
  
  <body>
  <nav>
    <div class="nav-wrapper navigation">
      <a href="/" class="brand-logo">OrionBNB</a>
      
    </div>
  </nav>
  
 <div class="container">
<div class="col s8" style="text-align:center;">

  <h1>OrionBNB</h1>
  <p> Have I seen you here before ?</p>
  <p> <a href="/sign-up"  class="waves-effect waves-light btn">Sign Up</a>
    <a href="/log-in"  class="waves-effect waves-light btn">Log In</a>  </p>
    </div>
    </div>
  </body>
</html>
