<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>
    <title>Listings</title>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper navigation">
      <a href="/" class="brand-logo">OrionBNB</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/user-log-out">Log Out</a></li>
      </ul>
    </div>
  </nav>
  
    <h1>Todays Listings</h1>

<blockquote>
    <% spaces.map do | space | %>
      <div>
        <h6><b>Space Name:</b></h6> <%= space.space_name %>
        <h6><b>Description:</b></h6><%= space.description %>
        <h6><b>Price PN:</b></h6><%= space.price_per_night %>
        <h6><b>Owner:</b></h6><%= space.space_owner %>
      </div>
      <hr>
    <% end %>
</blockquote>

  </body>
</html>
