<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>
    <title>Log In</title>
  </head>
  <nav>
  <div class="nav-wrapper navigation">
    <a href="/" class="brand-logo">OrionBNB</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>
  <body>
<form action="/user-log-in" method="post">
  <label for="username">Username:
    <input type="text" name="username"
    <label/>
  <label for="password">Password:
    <input type="password" name="password"
    <label/>
    <input type="submit"  value="Login">
    <form/>
  </body>
</html>
