<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>
    <title>User Profile</title>
  </head>
  <nav>
  <div class="nav-wrapper navigation">
    <a href="/" class="brand-logo">OrionBNB</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/listings">Listings</a></li>
      <li><a href="/user-log-out">Log Out</a></li>
    </ul>
  </div>
</nav>
  <body>
  <div class="row">
<div class="col s7 push-s5"> <h1 style="text-align:right;"> Welcome <%= @user%> </h1> </div>
    <div class="col s3 pull-s7">
      <div class="card">
        <div class="card-image">
          <img src="images/makerslogo.png">
        </div>
        <div class="card-content">
          <p> <%= @user %>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <form action="/add-listing" method="post">
      <input type="text" name="space_name">
      <input type="number" name="price_per_night" step="0.01" min="0">
      <input type="text" name="description">
      <input type="submit" value="Submit">
    </form>
  </div>

  </body>
</html>
